// src/styles.scss

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background: #181c23;
  color: #fff;
  font-family: 'Inter', 'Roboto', Arial, sans-serif;
  margin: 0;
}

.mat-tab-label {
  color: #fff !important;
  opacity: 1 !important;
}
.mat-tab-label.mat-tab-label-active {
  color: #a259ff !important;
  font-weight: 600;
}

// Force all Angular Material tab labels, including active, to be white
::ng-deep .mat-tab-label, ::ng-deep .mat-tab-label-content, ::ng-deep .mat-tab-label.mat-tab-label-active {
  color: #fff !important;
  opacity: 1 !important;
}

// Force all Angular Material main tab labels to be white
::ng-deep .main-tabs .mat-tab-label, ::ng-deep .main-tabs .mat-tab-label.mat-tab-label-active {
  //color: #fff !important;
  opacity: 1 !important;
}